#headerDiv {
  display: flex;
  align-items: center;
  background-color: #0E0E0ED9;
  font-family: 'Poller One', cursive;
  width: 100%;
}
#title {
  font-size: 3rem;
  color: white;
  margin-left: 23rem;
}
img {
  width: 10%;
}