#cardsDiv {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}
.cards {
  border: 1px solid black;
  display: flex;
  flex: 0 1 calc(33.33% - 10px);
  flex-direction: column;
  width: 250px;
  height: 400px;
  margin-bottom: 20px;
  justify-content: space-around;
}
